@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: #9bc73c;
}

body {
  min-height: 100vh;
  background: #9bc73c;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}
.grid-cell {
  box-sizing: border-box;
  border: 1px solid #eee; /* Light border for each cell */
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
